extends layout

block scripts
  script(type ='text/javascript')
    $(document).ready(function() {
      $('#Submit').click(function (){
        console.log("#{logged}");
        console.log("Has been clicked");
        var message = $("#newTweet").val();
        console.log(message.length);
        if (message.length <= 140 && message.length > 0) {
          $.post('/tweets/#{logged}', {twit: message}
             , function (data) {
                 $('#tweetBox').prepend(data);
                 $("#newTweet").val("");
             });
        }
        else {
          $("#newTweet").val("Please submit a twit between 1 and 140 characters.");
        }
      });
    })
    $(document).ready(function() {
      // find tweets
      function findTweets() {
        $.get('/tweets/refresh', {}, function (data) {
          $('#tweetBox').html(data);
        });
      }

      setInterval(findTweets, 2000);
    });

block content
  h1 Shitty Twitter (Shitter)
  div(id='postBox')
    h3(id='line1') Compose a Twit:
    textarea(rows="7", cols="20", id="newTweet")
    input(type="button", id="Submit", value="Twit that")
      | Twit dat shit
  div(id='tweetBox')
    include _twits