body {
  font: 14px "Lucida Grande", Helvetica, Arial, sans-serif;
  background-color: #4666FF;
}

div{
  background-color: #B5B5B5;
  margin-left: 10px;
  padding: 5px;
}
#tweetBox{
  margin-left: 440px;
  margin-top: 50px;
  width: 600px;
  border: 6px black solid;
  border-radius: 10px;
}

a {
  color: #00B7FF;
}

h1 {
  text-align: center;
}

h2 {
  text-align: center;
}

hr{
  color: black;
  background-color: black;
}